<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Live Stream Playback</title>
	<script type="text/javascript" src="static/common/scripts/common.js"></script>
	<script type="text/javascript" src="static/common/scripts/jquery-1.4.1.js"></script>
	<script type="text/javascript" src="static/playback/scripts/playback.js"></script>
	<link rel="Stylesheet" type="text/css" href="static/common/styles/common.css" />
	<link type="text/css" rel="Stylesheet" href="static/playback/styles/playback.css" />
</head>
<body>
    <div class="main">
        <div id="statusPanel" class="status" style="display: none">
        </div>
        <div id="bodyPanel" style="display: none;">
            <div id="playbackPanel" class="panel">
                <div id="videoListContainer" class="videoList">
                </div>
            </div>
            <div id="buttonPanel" class="buttonPanel">
                <!--                   <img id="load" title="Load Video" class="button" src="../common/images/blue/load.png"
                    normalsrc="../common/images/blue/load.png" onmouseoversrc="../common/images/blue-hot/load.png"
                    onmousedownsrc="../common/images/red/load.png" disabledsrc="../common/images/white/load.png"
                    onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                    onclick="loadVideo(this)" />-->
                <img id="play" title="Play Video" class="button"
                        src="static/common/images/blue/play.png"
                    normalsrc="static/common/images/blue/play.png"
                    onmouseoversrc="static/common/images/blue-hot/play.png"
                    onmousedownsrc="static/common/images/red/play.png"
                    disabledsrc="static/common/images/white/play.png"
                    onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                    onclick="playVideo(this)" />
                <img id="stop" title="Stop Video" class="button"
                        src="static/common/images/blue/stop.png"
                    normalsrc="static/common/images/blue/stop.png"
                    onmouseoversrc="static/common/images/blue-hot/stop.png"
                    onmousedownsrc="static/common/images/red/stop.png"
                    disabledsrc="static/common/images/white/stop.png"
                    onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                    onclick="stopVideo(this)" />
            </div>
        </div>
        <script type="text/javascript">
            initialize();
        </script>
    </div>
</body>
</html>
