<html>
<head>
    <title>Live Stream Recorder</title>
    <script type="text/javascript" src="static/common/scripts/common.js"></script>
    <script type="text/javascript" src="static/common/scripts/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="static/recorder/scripts/recorder.js"></script>
    <link rel="stylesheet" type="text/css" href="static/common/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="static/recorder/styles/recorder.css" />
</head>
<body>
    <div class="main">
        <div id="statusPanel" class="status" style="display: none">
        </div>
        <div id="bodyPanel">
            <div id="recordPanel" class="panel">
                <div class="panelBody">
                    <div id="elapsedTime" class="time gay">
                    </div>
                    <div id="buttonPanel" class="buttonPanel">
                            <img id="record" title="Start Recording" class="button"
                                    src="static/common/images/red/record.png"
                                normalsrc="static/common/images/red/record.png"
                                onmouseoversrc="static/common/images/blue-hot/record.png"
                                onmousedownsrc="static/common/images/red/record.png"
                                disabledsrc="static/common/images/white/record.png"
                            onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                            onclick="startRecording(this)" />
                            <img id="stop" title="Stop Recording" class="button"
                                    src="static/common/images/blue/stop.png"
                                normalsrc="static/common/images/blue/stop.png"
                                onmouseoversrc="static/common/images/blue-hot/stop.png"
                                onmousedownsrc="static/common/images/red/stop.png"
                                disabledsrc="static/common/images/white/stop.png"
                            onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                            onclick="stopRecording(this)" />
                    </div>
                </div>
            </div>
            <div id="previewPanel" class="panel">
                <div class="panelBody">
                    <h2>Start Time (h:mm:ss)</h2>
                    <input type="text" id="committedTime" class="time nongay" onfocus="onFocus(this);"
                        onblur="onBlur(this);" />
                    <h2>Preview Length (seconds)</h2>
                    <div><input type="text" id="duration" class="time nongay"
                                onchange="" /></div>
                    <div id="buttonPanel" class="buttonPanel">
                        <img id="preview" title="Preview" class="button"
                                src=static/common/images/blue/play.png"
                            normalsrc="static/common/images/blue/play.png"
                            onmouseoversrc="static/common/images/blue-hot/play.png"
                            onmousedownsrc="static/common/images/red/play.png"
                            disabledsrc="static/common/images/white/play.png"
                            onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                            onclick="previewPlayback(this)" />
                        <img id="save" title="Save Start Time" class="button"
                                src="static/common/images/blue/save-rotated.png"
                            normalsrc="static/common/images/blue/save-rotated.png"
                            onmouseoversrc="static/common/images/blue-hot/save-rotated.png"
                            onmousedownsrc="static/common/images/red/save-rotated.png"
                            disabledsrc="static/common/images/white/save-rotated.png"
                            onmouseover="buttonOnMouseOver()" onmousedown="buttonOnMouseDown()" onmouseout="buttonOnMouseOut()"
                            onclick="saveStartTime(this)" />
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            checkStatus(function () { $("#bodyPanel").fadeIn(1000); });
        </script>
    </div>
</body>
</html>
