.buttonPanel {
  margin: -15px 0px 0px 0px;
}

.committedTime
{
  width: 320px;
  background-color:#333333;
  color: #817694;
  text-align:center;
  /*border: 6px solid #BEDB89;*/
  border: 6px solid #817694;
  padding: 0px 12px;
  font-weight:bold;
  font-family:Courier New;
  font-size: 600%;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.uncommittedTime
{
  background-color:#333333;
  color:#BEDB89;
  text-align:right;
  /*border: 6px solid #BEDB89;*/
  border: 6px solid #817694;
  padding: 0px 12px;
  font-weight:bold;
  font-family:Courier New;
  font-size: 600%;
  float:left;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.elapsedTime
{
  width: 300px;
  background-color: #333333;
  color: #817694;
  text-align:center;
  border: 6px solid #817694;
  padding: 0px;
  font-weight:bold;
  font-family:Courier New;
  font-size: 600%;
  float:left;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.elapsedTimeRecording
{
  color:Red;
}

.label
{
  font-weight:bold;
}

.time.inputbox{
  width: 100%;
}

.time.editable {
  color: #333;
  border: 4px solid #333;
  background: #eee;
  background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.71, rgb(255,255,255)),
  color-stop(1, rgb(201,201,201)));
  background: -moz-linear-gradient(
  center bottom,
  rgb(255,255,255) 71%,
  rgb(201,201,201) 100%);
}

.time {
  color: #817694;
  text-align:center;
  border: 4px solid #817694;
  padding: 0px;
  margin-bottom: 16px;
  font-weight:bold;
  font-family:Courier New;
  font-size: 90px;
  /*float:left;*/

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #333333;
}
